
.title {
    background-color: black;
    height:80px;
    h2 {
        margin: 0;
        padding: 20px;
        color: ghostwhite;
        font-family: "Adobe Caslon Pro", serif;
        font-style: italic;
        font-size: 2.0em;
    }
}